<div class="container">

    <div class="row mt-2 mb-2" >
        <div class="col-md-12">
            <h1 class="text-center">Dinhos Delivery</h1>
        </div>

    </div>
    <div class="row mt-5 mb-5">
        <div>
        <h3 class="text-center">Sua entrega no conforto da sua casa</h3>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis placeat quas blanditiis cum ullam, optio cumque consequatur, debitis deleniti excepturi exercitationem eum perspiciatis quaerat, corrupti veniam! Delectus voluptate et neque? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum aut nam cum eligendi nemo voluptas! Voluptatem dolores nulla necessitatibus aliquam officia. Perspiciatis vero blanditiis, aspernatur nulla ipsam itaque laborum autem.</p>        
        </div>
    </div>
    <div class="d-flex justify-content-center mb-4">
        <img class="img-fluid" [src]=image>        
   <div>
       <img src="https://cdn.pixabay.com/photo/2016/05/26/14/50/delivery-1417310_960_720.png" alt="">
   </div>


</div>