<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <fa-icon [icon]="faTruck" class="faTruck fa-3x p-3"></fa-icon>
    <a class="navbar-brand" routerLink='/Home' >Dinhos Delivery</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>      
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink='/Home' >Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink='/Contato' >Contato</a>
      </div>
    </div>
  </nav>
